{% if caddy_vhost_mode == 'www' and caddy_reverse_proxy_port  is none %}
www.example.com:{{caddy_vhost_mode_port}} { 
    root * /data/wwwroot/{{caddy_appname}}
    file_server
    php_fastcgi localhost:9000
    encode zstd gzip
    file_server browse
    log {
         output file /var/logs/caddy_access.log
         format single_field common_log
    }  
}
{% endif %} 

{% if caddy_vhost_mode == 'reverse' or caddy_reverse_proxy_port  is not none %}
:{{caddy_listen_port}} {
    reverse_proxy * localhost:{{caddy_reverse_proxy_port}}
    file_server
    }
{% endif %}

{% if caddy_vhost_mode == 'redirect' or caddy_reverse_proxy_port  is not none %}
example.com  { 
	redir  https://www.example.com {uri} 
    file_server
} 
www.example.com  { 
}
{% endif %}
