{% if caddy_vhost_mode == 'www' and caddy_reverse_proxy_port  is none %}
{{caddy_appname}}.yourdomain.com :{{caddy_vhost_mode_port}} { 
    root * /data/wwwroot/{{caddy_appname}}
    php_fastcgi localhost:9000
    encode zstd gzip
    file_server browse
    log {
         output file /data/logs/caddy_access.log
         format single_field common_log
    }  
    errors  /data/logs/caddy_error.log {
    rotate_size     mb
    rotate_age      days
    rotate_keep     count
    rotate_compress
}
}
{% endif %} 

{% if caddy_vhost_mode == 'reverse' or caddy_reverse_proxy_port  is not none %}
:{{caddy_listen_port}} {
    reverse_proxy * localhost:{{caddy_reverse_proxy_port}}
    file_server
    }
{% endif %}

{% if caddy_vhost_mode == 'redirect' or caddy_redirect_url  is not none %}
{{caddy_appname}}.yourdomain.com  { 
	redir  http://{{caddy_appname}}.yourdomain.com {uri} permanent
        file_server
} 
{{caddy_redirect_url}}  { 
}
{% endif %}


