{% if caddy_vhost_mode == 'www' and caddy_reverse_proxy_port  is none %}
{{caddy_appname}}.yourdomain.com :{{caddy_vhost_mode_port}} { 
    root * /data/wwwroot/{{caddy_appname}}
    php_fastcgi localhost:9000
    encode zstd gzip
    file_server browse
    log {
         output file /data/logs/caddy_access.log
         format single_field common_log
    }  
}
{% endif %} 

# alias amount to caddy templates module
{% if caddy_vhost_mode == 'alias' or caddy_alias_path  is not none %}
{{caddy_appname}}.yourdomain.com :{{caddy_vhost_mode_port}} { 
    root * /data/wwwroot/{{caddy_appname}}
    php_fastcgi localhost:9000
    encode zstd gzip
    file_server browse
    log {
         output file /data/logs/caddy_access.log
         format single_field common_log
    }  
    templates {
    path   {{caddy_alias_path}}
}
}
{% endif %} 

{% if caddy_vhost_mode == 'reverse' or caddy_reverse_proxy_port  is not none %}
:{{caddy_listen_port}} {
    reverse_proxy * localhost:{{caddy_reverse_proxy_port}}
    file_server
    }
{% endif %}

{% if caddy_vhost_mode == 'redirect' or caddy_redirect_newsite_url  is not none %}
    redir https://{{caddy_redirect_newsite_url}}{uri}
{% endif %}
